{
	"plugins": [
		["@babel/plugin-transform-runtime", {
			"useESModules": true
		}]
	],
	"presets": [
		["@babel/preset-env", {
			"modules": false,
			"useBuiltIns": "usage",
			"corejs": 3
		}]
	]
}
