<!doctype html>
<html>
<head>
	<title n:snippet="title">{include #title}</title>
	<script src="{webpack main.js}"></script>
</head>
<body>
	<div n:snippet="content">
		{include #content}
	</div>
</body>
</html>
