{layout @layout.latte}

{block #title}Default{/block}

{block #content}
<div>
	REQUEST_TIME is <code n:snippet="timestamp">{$timestamp}</code>
</div>

<a n:href="refreshTimestamp!" class="ajax">Refresh</a>

<hr>

<a n:href="redirectToForm" class="ajax">Redirect to form</a>
